.DS_Store
bnn-predictive/experiments/results/
bnn-predictive/conda
bnn-predictive/data/FMNIST
experiments/sl/uci/results
.idea
*.log
.direnv
tmp/
.venv
wandb
.hydra

*.py[cod]
*.egg
build
htmlcov

*.aux
.auctex-auto
paper/main.pdf
*superseded
*.bbl
*.gz
*.fls
*.blg
*.out
*.envrc
*.egg-info

.dir-locals.el

*multirun
