.DS_Store
bnn-predictive/experiments/results/
bnn-predictive/conda
*experiments/sl/bnn_predictive/data/FMNIST/
experiments/FMNIST/
experiments/MNIST/
experiments/sl/data/MNIST/
experiments/sl/output/
src/plotting/raw.githubusercontent.com/
src/plotting/figs/
src/figs/

.idea
*.log
.direnv
tmp/
.venv
wandb
.hydra

*.py[cod]
*.egg
build
htmlcov

*.aux
.auctex-auto
paper/main.pdf
*superseded
*.bbl
*.gz
*.fls
*.blg
*.out
*.envrc
*.egg-info
*.pkl
*.err
*.out

.dir-locals.el

*multirun

*.ipynb_checkpoints
