matplotlib
numpy
tabulate
tikzplotlib
hydra-core
hydra-submitit-launcher
wandb

black
pre-commit
pyright
isort
pyflakes
pytest

torch
# functorch  # needed for vmap
# gymnasium
mujoco
torchtyping
lightning
# laplace-torch
gpytorch

# torchrl
./src/third_party/rl-0.1.0
dm_control # deepmind control suite
opencv-python
moviepy # rendering
