matplotlib
numpy
tabulate
tikzplotlib
hydra-core
hydra-submitit-launcher
wandb

black
pre-commit
pyright
isort
pyflakes
pytest

torch==2.0.0
# functorch  # needed for vmap
# gymnasium
mujoco
torchtyping
# lightning
# laplace-torch
gpytorch==1.9.1

torchrl # using this on triton
# ./src/third_party/rl-0.1.0 3 # using this locally
dm_control # deepmind control suite
opencv-python
moviepy # rendering
